{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"prettier",
		"plugin:sonarjs/recommended",
		"plugin:storybook/recommended"
	],
	"plugins": ["@typescript-eslint", "simple-import-sort", "react", "react-hooks", "unused-imports", "sonarjs"],
	"env": {
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 2020,
		"ecmaFeatures": {
			"legacyDecorators": true,
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"version": "16"
		}
	},
	"rules": {
		"space-before-function-paren": 0,
		"react/prop-types": 0,
		"react/jsx-handler-names": 0,
		"react/jsx-fragments": 0,
		"react/no-unused-prop-types": 0,
		"import/export": 0,
		"react/jsx-uses-react": "off",
		"react/react-in-jsx-scope": "off",
		"eqeqeq": "error",
		"no-unused-vars": "off", // or "@typescript-eslint/no-unused-vars": "off",
		"unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": [
			"warn",
			{ "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
		],
		"no-console": "error"
	}
}
